
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About US</h1>
<h2 class="display-3">@ViewData["stdname1"]</h2>
<p>Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.</p>
<h2 class="display-3">@ViewData["stdname2"]</h2>
<p>Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.</p>
<h2 class="display-3">@ViewData["stdname3"]</h2>
<p>Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.</p>
<h2 class="display-3">@ViewData["stdname4"]</h2>
<p>Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.</p>

