CSharp/Basics/.vs/Basics/FileContentIndex/62a7338e-7e44-4934-9079-fe824ab8d191.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/9f35740e-9447-4a25-a478-5c88c9c84eb7.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/ace1e1dc-c1a1-4286-9e96-16e7407c6b71.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/668163ed-be1a-4d9b-a1bc-f8f203615817.vsidx
DotNET/DBFirst/.vs/DBFirst/FileContentIndex/0b2f85e5-be40-4f5f-a0b3-6b6ff7db7acb.vsidx
DotNET/DBFirst/.vs/DBFirst/FileContentIndex/7223f380-3d0a-4dce-bec5-bb8c933365b0.vsidx
DotNET/DBFirst/.vs/DBFirst/FileContentIndex/b7c3201b-8b24-4d6f-b2d3-0cd3aa705c20.vsidx
DotNET/DBFirst/.vs/DBFirst/FileContentIndex/d33d698c-c3e2-4d0c-891e-1d883c3e90ea.vsidx
DotNET/DBFirst/.vs/DBFirst/FileContentIndex/d33d698c-c3e2-4d0c-891e-1d883c3e90ea.vsidx
DotNET/ImgCRUD/.vs/DBFirst/FileContentIndex/15de233f-70b2-44b0-baaa-f5c98e59fe97.vsidx
DotNET/ImgCRUD/.vs/DBFirst/FileContentIndex/65f2a45b-957b-4c03-a9ae-3254e981b714.vsidx
DotNET/ImgCRUD/.vs/DBFirst/FileContentIndex/6e067860-c800-4ac7-bb99-8026ad7a4eb8.vsidx
DotNET/ImgCRUD/.vs/DBFirst/FileContentIndex/7adae288-6d15-4f1d-ba35-72312bd50a50.vsidx
DotNET/ImgCRUD/.vs/DBFirst/FileContentIndex/9d892a03-7bb2-49d3-840c-2c3dac71ebb3.vsidx
DotNET/TempEmbeddin2302C2/.vs/TempEmbeddin2302C2/FileContentIndex/b54aae24-4efd-4ae4-ac54-64a604f80768.vsidx
DotNET/TempEmbeddin2302C2/.vs/TempEmbeddin2302C2/FileContentIndex/18281a92-699a-4f40-93c4-754fddcdb03c.vsidx
WebApi/firstproject/.vs/firstproject/FileContentIndex/85edc826-b962-4fee-a928-7ce641fbc7fe.vsidx
WebApi/firstproject/.vs/firstproject/FileContentIndex/7c608f34-ce95-40e3-b0e6-755444d2bbd2.vsidx