*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: aliceblue;
} */

.container{
    width: 700px;
    background-color: lightcyan;
    /* top right bottom left */
    margin: 70px 0px 0px 50px;

    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 200px auto 200px; */

    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(2, 1fr) 55%; */



    grid-template-rows: 150px 150px;

    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    
    /* shorthand for grid gap */
            /*row  column  */
    grid-gap: 20px 10px;

}

.item-one{
    background-color: cadetblue;

    /* grid-column-start: 2;
    grid-column-end: 3; */

    /* grid-column: 2/3; */

    /* grid-row-start: 1;
    grid-row-end: 2; */

    /* grid-row: 1/2; */


    /* One Line Short Hand RS CS RE CE */

    grid-area: 2/3/3/4;

}
.item-two{
    background-color: darkblue;
}
.item-three{
    background-color: darkred;
}
.item-four{
    background-color: lightcoral;
}
.item-five{
    background-color: lightseagreen;
}
.item-six{
    background-color: yellowgreen;
}